<a href="https://colab.research.google.com/github/juliacampolina123/BTE320/blob/main/BTE_320_In_Class_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
h=10
r=3
pi=3.14
area=2*pi*r**2+2*pi*r*h
print(area)

244.92000000000002

In [ ]:
Choice= input("Do you want to play a game: ")
while Choice == 'yes':

  Player1= input("Player 1: choose rock, paper or scissors: ")
  Player2= input("Player 2: choose rock, paper or scissors: ")
  if Player1==Player2:
    print('Draw')
  elif Player1=='rock' and Player2=='scissors':
    print('Player1 wins')
  elif Player1=='paper' and Player2=='rock':
    print('Player1 wins')
  elif Player1=='scissors' and Player2=='rock':
    print('Player1 wins')
  else:
    print('Player2 wins')

  Choice= input("Play again: ") #update

Do you want to play a game: yes
Player 1: choose rock, paper or scissors: rock
Player 2: choose rock, paper or scissors: paper
Player2 wins
Play again: no

In [ ]:
#Build a calculator
Number1= float(input("enter number 1:"))
Number2= float(input("enter number 2:"))
Symbol= input("Choose operator (+,-,*,/,**):")

if Symbol=='*':
  print(Number1*Number2)
elif Symbol=="-":
  print(Number1-Number2)
elif Symbol=="+":
  print(Number1+Number2)
elif Symbol=="/":
  print(Number1/Number2)
else:
  print(Number1**Number2)

enter number 1:4
enter number 2:2
Choose operator (+,-,*,/,**):/
2.0

In [ ]:
#Parking garage - Initial problem
#hourly 2.5 , flat rate 5, 1-8 hours, minimum $10, maximum $20

flat_rate=5
hourly_rate=2.5
for hour in range(1,9,1):
  total=flat_rate+(2.5*hour)
  if total<10:
    total=10.0
  elif total>20:
    total=20.0
  print(hour, total)

1 10.0
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20.0
8 20.0

In [ ]:
#Movie Theater - Initial Problem
#ticket=$10 people attending= 20 additional attendees = 2x round (ad^1/2) fixed cost of $200 to run theater

for ad in range(0,201,25):
  additional=2*round(ad**0.5)
  profit= (20+additional)*10-200-ad
  print(ad, profit)

0 0
25 75
50 90
75 105
100 100
125 95
150 90
175 85
200 80

In [ ]:
#integer input
l=[]
item=int(input('Give a value: '))
while item!=0:
  l.append(item)
  item=int(input('Give another value: '))
print(l)

Give a value: 9
Give another value: 8
Give another value: 0
[9, 8]

In [ ]:
months={}

names=["Jan","Feb","Mar","Apr", "May","Jun","Jul", "Aug", "Sep", "Oct", "Nov","Dec"]
numbers=[1,2,3,4,5,6,7,8,9,10,11,12] #for makes more sense because we know # of altercations

for i in range(len(numbers)):
  months[numbers[i]]=names[i]
months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

In [ ]:
annual_salary = float(input("Enter your annual salary: "))
portion_saved = float(input("Enter the percent of your salary to save, as a decimal: "))
total_cost = float(input("Enter the cost of your dream home: "))

portion_down_payment = 0.25
r = 0.04

down_payment = total_cost * portion_down_payment

current_savings = 0.0
monthly_salary = annual_salary / 12
monthly_return = r / 12
months = 0

while current_savings < down_payment:
    current_savings += current_savings * monthly_return
    current_savings += monthly_salary * portion_saved
    months += 1

print(f"Number of months: {months}")

Enter your annual salary: 120000
Enter the percent of your salary to save, as a decimal: .10
Enter the cost of your dream home: 1000000
Number of months: 183

In [ ]:

annual_salary = float(input("Enter your annual salary: "))
portion_saved = float(input("Enter the percent of your salary to save, as a decimal: "))
total_cost = float(input("Enter the cost of your dream home: "))
semi_annual_raise = float(input("Enter the semi-annual raise, as a decimal: "))

portion_down_payment = 0.25
r = 0.04

down_payment = total_cost * portion_down_payment

current_savings = 0.0
monthly_salary = annual_salary / 12
monthly_return = r / 12
months = 0

while current_savings < down_payment:
    current_savings += current_savings * monthly_return
    current_savings += monthly_salary * portion_saved
    months += 1

    if months % 6 == 0:
        annual_salary += annual_salary * semi_annual_raise
        monthly_salary = annual_salary / 12  # Update monthly salary

print(f"Number of months: {months}")

Enter your annual salary: 120000
Enter the percent of your salary to save, as a decimal: .05
Enter the cost of your dream home: 500000
Enter the semi-annual raise, as a decimal: .03
Number of months: 142

In [ ]:
def range_check(num, low, high):
    if num>=low and num<=high:
      return True
    else:
      return False

In [ ]:
print(range_check(2,1,3))

True

In [ ]:
#Parking Garage
def calcFee(hours,decimals=2):
  fee= round(5+2.5*hours, decimals)
  return fee
def displayFee(fee):
  print(fee)

hours_parked=int(input('number of hours:'))
f=calcFee(hours_parked)
displayFee(f)

number of hours:4
15.0

In [ ]:
def rev(s):
  if len(s)==1:
    return s
  else:
    return s[-1]+rev(s[:-1])
rev('Halloween')

'neewollaH'

In [ ]:
"""Function that calculates the weighted average of a list L, given weights w the fuction should handle the following exception error types:
 -ZeroDivisionError(return empty list)
 -TypeError (Returns empty list)
 -Any other unknown error (returns float ('nan'))"""

def wAvg(L,W):
  res=[]
  try:
    for i in range(len(L)):
      res.append(L[i]*W[i])
    return sum(res)/sum(W)
  except ZeroDivisionError:
    print("Division by zero.")
    return []
  except TypeError:
    print("Non-numerical objects found.")
    return[]
  except Exception as e:
    print(f"Unknown error: {e}")
    return float('nan')

wAvg([1,2,3],[.4,0,-.4])

Division by zero.

[]

In [1]:
class Student:
    def __init__(self, name, number):
        self.name = name
        self.number = number

    def __str__(self):    #str and repr gives you the same result
      return f'Name:{self.name}.'

student1 = Student("James Bond","007")
student2 = Student("Clark Kent", "333")

print(student1.name)
print(student2.name)

James Bond
Clark Kent